.button {
  width: 100%;
  font-size: 1.25rem;
  background-color: var(--color-accent-muted);
  box-shadow: var(--box-shadow);
  border: none;
  outline: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  padding: 0 1rem;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease;
}

.button:hover {
  transform: translateY(-1.5px);
  box-shadow: var(--box-shadow-expanded);
  background-color: var(--color-accent);
}

.button-inactive {
}
.button-active {
  background-color: var(--color-active-muted);
}

.button-active:hover {
  background-color: var(--color-active);
}
