.quill {
  display: flex;
  flex-direction: column;
}

.ql-container {
  flex-grow: 1;
  background-color: var(--color-base);
}

.ql-editor {
  font-size: 1.25rem;
  min-height: 300px;
  background-color: var(--color-base);
}
