.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.post-card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1500px;
  gap: 2rem;
  min-width: 0;
}

.post-card {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 3px 10px 0px rgb(100, 100, 100);
  box-shadow: var(--box-shadow);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.card-info {
  height: 100%;
  display: grid;
  grid-template-areas: 'title status' 'updateLabel date';
  grid-template-rows: 1fr auto auto;
  padding: 1rem;
  gap: 1rem;
}

.card-info > * {
  margin: 0;
  padding: 0;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 20px 0px rgb(100, 100, 100);
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  grid-area: image;
}

.status-button {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  align-self: start;
}

.date,
.status-button {
  justify-self: end;
}

.updated-label,
.date {
  align-self: end;
}

.post-layout {
  min-width: 0;
  font-size: 1.25rem;
  max-width: 1000px;
  line-height: 1.5;
}

.post-image {
  width: 100%;
}

.post-body > p {
  margin: 0;
  padding: 0;
}

.post-body > ol > * {
  margin: 1.5rem 0;
}
